*{
    background-color: rgb(246, 248, 248);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#box{
    margin-top: 2rem;
    display: grid;
    align-content: center;
    justify-content: center;
    border: none;
    letter-spacing: 2.5px;
    height: 100vh;
    padding: 0;
    
    
}
input{
   
    margin-top: 0.8rem;
    font-size: larger;
    border-width: 0.4px;
    border-radius: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 8px;
   

}
button{
    letter-spacing: 2.5px;
    font-size: large;margin-top: 10px;
    background-color: lightgrey;
    cursor: pointer;
}